








@media screen and (min-width: 900px) {



}



@media screen and (min-width: 1199px) {



}


@font-face {
    font-family: 'Metropolis Regular';
    src: url("/fonts/Metropolis-Regular.ttf");
}

@font-face {
    font-family: 'Metropolis SemiBold';
    src: url('/fonts/Metropolis-SemiBold.ttf');
}

@font-face {
    font-family: 'Metropolis Regular Italic';
    src: url('/fonts/Metropolis-RegularItalic.otf');
}

@font-face {
    font-family: 'Metropolis SemiBold Italic';
    src: url('/fonts/Metropolis-SemiBoldItalic.otf');
}

/* ---------- universal ---------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}



/* ----------- structure ----------- */

.container-home {
  background-color: rgba(241, 236, 234, 1);
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
  grid-template-areas:
  ".                      nav                    nav                    nav                    ."
  ".                      hero                   hero                   hero                      ."
  ".                      .                      scroll-down-line       .                      ."
  "projects               projects               projects               projects               projects"
  ".                      about                  about                  about                  ."
  ".                      photo                  photo                  photo                  ."
  ".                      .                      decorative-line-top    .                      ."
  "decorative-line-bottom decorative-line-bottom decorative-line-bottom decorative-line-bottom decorative-line-bottom"
  "footer                 footer                 footer                 footer                 footer";
}


.container-project {
  background-color: rgba(241, 236, 234, 1);
}

section.portfolio {
  padding: 5rem 8%;
}

.bg-white {
  background-color: #fff;
}

.nav img {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
}



/* ----------- background colors ----------- */

section {
  background-color: rgba(241, 236, 234, 1);
}

footer,
.projects,
.decorative-line-bottom,
.overview {
  background-color: #AB684D;
}



/* ----------- typography - general ----------- */

h1 {
  color: #91231B;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

h2, h3, p {
  font-family: 'Metropolis Regular', sans-serif;
  font-size: 1.8em;
  line-height: 130%;
}


h2, h3 {
  color: #E0DDD7;
  margin: 0 0 5rem 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'Metropolis SemiBold', sans-serif;
}

h2.dark {
  color: #91231B;
  margin: 0 0 3rem 0;
}

h3, p {
  font-weight: 400;
}

p {
  color: #060206;
  margin: 0 0 3rem 0;
}

p.light {
  color: #E0DDD7;
}

a {
  color: #91231B;
  font-family: 'Metropolis Regular', sans-serif;
}

a.highlight {
  background: rgba(183, 156, 130, 0.3);
}

a.highlight:hover,
a.highlight:focus {
  font-family: 'Metropolis SemiBold', sans-serif;
}

a.highlight:active {
  background: rgba(183, 156, 130, 0.5);
}

footer a {
  color: #E0DDD7;
  font-size: 1.8em;
  text-decoration: none;
}


/* ----------- list styling ----------- */

ul {
  color: #060206;
  font-family: 'Metropolis Regular', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 3rem 0;
}

li {
  padding: 0 0 0.5rem 0;
}

.bulleted-list {
  list-style: disc;
  margin-left: 0.9em;
}



/* ----------- button styling ----------- */

a.btn {
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  transition: background 150ms ease-in-out,
              transform 50ms ease;
  width: 100%;
}

a.btn:focus {
    outline-offset: -2px;
}

a.btn:active {
    transform: scale(0.99);
}

a.light {
  background: #FFFFFF;
  color: #91231B;
}

a.light:hover,
a.light:focus {
    background: rgba(241, 236, 234, 1);
}

a.light:focus {
    outline: 1px solid #AB684D;
}

a.dark {
  background: #AB684D;
  color: #FFF;
}

a.dark:hover,
a.dark:focus {
    background: rgba(171, 104, 77, 0.9);
}

a.dark:focus {
    outline: 1px solid #FFF;
}



/* ----------- projects section - HERO ----------- */

.proj-hero {
  text-align: center;
}

.proj-hero-img {
  padding: 0 0 3rem 0;
  width: 80%;

}

.proj-hero-logo {
  padding: 0 0 3rem 0;
  width: 40%;
  max-width: 20rem;
}

/* ----------- projects section - ROLE ----------- */

.role, .deliverables, .tools, .duration {
  text-align: center;
}

.role-text {
  max-width: 45rem;
  margin: 0 auto;
}

.role-text h2 {
  margin: 0 auto;
  max-width: 40rem;
}

/* ----------- projects section - OVERVIEW ----------- */

.overview {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        ". problem-title  ."
        ". problem ."
        ". solution-title       ."
        ". solution .";
    padding: 5rem 0 2rem 0;
    text-align: center;
  }

  .problem-title {
    grid-area: problem-title;
  }

  .solution-title {
    grid-area: solution-title;
  }

  .problem-title,
  .solution-title {
    margin: 0 auto -6.5rem;
    z-index: 1;
  }

  .title {
    background: #AB684D;
    width: 10rem;
    z-index: 2;
  }

  .problem {
    grid-area: problem;
  }

  .solution {
    grid-area: solution;
  }

  .problem,
  .solution {
    border: 0.1em solid #E0DDD7;
    padding: 5rem 2rem 2rem;
    margin: 0 auto 3rem;
  }

/* ----------- projects section - COMPETITIVE ANALYSIS ----------- */

.brand-logo {
  text-align: center;
  height: 7rem;
  padding-top: 2rem;
}

#ww,
#zola  {
  height: 4rem;
}

#knot {
height: 4.8rem;
}

.brand-comparison {
  margin: 5rem 0 0 0;
}

.brand {
  background: rgba(224, 221, 215, 0.3);
  padding: 2rem;
}

.brand-1,
.brand-2 {
  margin-bottom: 1rem;
}

.container-branding section.portfolio {
  padding-top: 0;
  padding-bottom: 0;
}

.container-branding h2 {
  padding-top: 5rem;
}

.brand-desc {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas:
  'thumbup   pro'
  'thumbdown con';
  padding: 1rem 2rem;
}

.thumbup {
  grid-area: thumbup;
  margin-right: 1rem;
}

.thumbdown {
  grid-area: thumbdown;
  margin-right: 1rem;
}

.thumbup img,
.thumbdown img {
  max-width: 2rem;
}

.pro {
  grid-area: pro;
}

.con {
  grid-area: con;
}


/* ----------- projects section - USER RESEARCH ----------- */

.statistic {
  color: #AB684D;
  font-family: 'Playfair Display', serif;
  font-size: 7.2rem;
  margin: 0;
}

.orange {
  background-color: rgba(171, 104, 77, 0.2);
}

/* ----------- projects section - USER PERSONAS ----------- */

.full-width {
  width: 100%;
}

.bold {
  font-family: 'Metropolis SemiBold', sans-serif;
}

.i-bold {
  font-family: 'Metropolis SemiBold Italic', sans-serif;
}

/* ----------- projects section - BRANDING ----------- */

.branding {
  margin-bottom: 5rem;
}

.color-palette {
  display: flex;
  text-align: center;
}

.colors {
  padding: 0 8%;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5
 {
  border-radius: 0%;
  flex-grow: 1;
  height: 10vw;
  margin: 1vw;
  width: 10vw;
}

.color-1 {
  background: #6C716B;
}

.color-2 {
  background: #8F8D82;
}

.color-3 {
  background: #FFF;
}

.color-4 {
  background: #E9E7E6;
}

.color-5 {
  background: #080F01;
}

.type {
  margin: 0 auto;
  text-align: center;
}

.typography {
  border: 1px solid #060206;
  margin: 5rem auto;
  padding-top: 3rem;
  width: 80%;
  text-align: center;
}

.type-1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

.type-2,
.type-3,
.type-4 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.type-3,
.type-4 {
  font-size: 1.2rem;
}

.type-2 {
  font-size: 1.3rem;
}

.type-1,
.type-2,
.type-4 {
  color: #060F00;
}

.type-4 {
  color: #6B716B;
  text-decoration: underline;
}

.type-description {
  font-size: 1.4rem;
}

/* ----------- projects section - WIREFRAMES ----------- */


.partial-width {
  width: 100%;
}

.add-padding {
  padding: 0 0 3rem 0;
}

.wireframes a {
  margin-bottom: 5rem;
}

.wireframes-img {
  display: none;
}

.center {
  text-align: center;
}

/* ----------- projects section - MOCKUPS & PROTOTYPE ----------- */

.product-screenshot {
  padding-bottom: 3rem;
  width: 100%;
}

.side {
  text-align: center;
}

.side img {
  padding-bottom: 1rem;
  max-width: 500px;
}

.prototype-img {
  max-width: 450px;
}

.desktop-img {
  display: none;
}


/* ----------- homepage section - NAVIGATION ----------- */

.nav {
  grid-area: nav;
  height: 15vh;
  padding-top: 5rem;
  margin: 0 auto;
}

#logo {
  color: #91231B;
  letter-spacing: 0.01em;
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}



/* ----------- homepage section - HERO ----------- */

.hero {
  display: flex;
  flex-direction: column;
  grid-area: hero;
  height: 55vh;
  justify-content: flex-end;
  max-width: 600px;
  width: 75%;
}

.hero-description  {
  font-size: 2.4em;
}

.scroll-down-line {
  grid-area: scroll-down-line;
  height: 30vh;
}

.line-one {
  border: 0.05rem solid #AB684D;
  width: 0.05rem;
  margin-top: 5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
}



/* ---------- homepage section - PROJECTS ---------- */

.projects {
  display: grid;
  grid-area: projects;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
      ". projects-header  ."
      ". case-outer       .";
  padding: 5rem 0 8rem 0;
  text-align: center;
}

.case-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
      "case-title"
      "case-study";
  text-align: center;
}

.projects-header {
  grid-area: projects-header;
}

.case-outer {
  grid-area: case-outer;
}

.case-img,
.case-outer .proj-hero-logo {
  display: none;
}

.case-inner a {
  text-decoration: none;
}

.case-title {
  grid-area: case-title;
  margin: 0 auto -6.5rem;
  z-index: 1;
}

.title {
  background: #AB684D;
  width: 10rem;
  z-index: 2;
}

.case-study {
  border: 0.1em solid #E0DDD7;
  grid-area: case-study;
  padding: 5rem 2rem;
}

.case-title-hover {
  display: none;
}


/* ----------- homepage section - ABOUT ----------- */

.about {
  grid-area: about;
  padding: 8rem 0 5rem;
}

#biography-intro {
  color: #060206;
  font-family: 'Metropolis SemiBold', sans-serif;
  text-transform: uppercase;
}

.italicized {
  font-family: 'Metropolis Regular Italic', sans-serif;
}

.photo {
  background: none;
  grid-area: photo;
  margin: 0 0 -1rem 0;
  text-align: center;
  z-index: 2;
}

.photo img {
    height: auto;
    max-width: 20rem;
    width: 80%;
}

.decorative-line-top {
  grid-area: decorative-line-top;
  height: 20vh;
  z-index: 1;
}

.decorative-line-bottom {
  grid-area: decorative-line-bottom;
  height: 15vh;
}

.line-two-top,
.line-two-bottom,
.line-two-end {
  margin: 0 auto;
}

.line-two-top {
  border: 0.05rem solid #AB684D;
  height: 20vh;
  width: 0;
}

.line-two-bottom {
  border: 0.05rem solid #E0DDD7;
  height: 10vh;
  width: 0;
}

.line-two-end {
  background: #E0DDD7;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}



/* ----------- homepage section - FOOTER ----------- */

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    ". footer-name ."
    ". email ."
    ". social-links .";
  padding: 10rem 0;
  text-align: center;
  margin-bottom: 0rem;
}

.footer-home {
  padding-top: 5rem;
}

.footer-name {
  grid-area: footer-name;
}

#email {
  grid-area: email;
  padding: 0 0 3.5em 0;
}

.social-links {
  display: flex;
  grid-area: social-links;
}

.linkedin,
.github,
.twitter,
.instagram,
.pinterest {
  flex-grow: 1;
}

.social-links img {
  height: auto;
  max-width: 4rem;
  width: 100%;
}



/* ----------- (TABLET - SMALL) responsive ----------- */

@media screen and (min-width: 575px) {

  /*--- home ---*/


  .container-home {
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;

    }

  .projects {
    grid-template-columns: 1fr 5fr 1fr;
    padding: 5rem 0 8rem 0;
  }

  .case-desc {
    width: 80%;
    margin: 0 auto;
  }

  a.btn,
  a.dark {
    max-width: 50rem;
  }

  /*--- project ---*/

  a.dark {
    max-width: 45rem;
    margin: 0 auto;
  }

  .product-summary {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  .proj-hero-img {
    max-height: 40vh;
    width: auto;
  }

  section.portfolio {
    padding: 5rem 12%;
  }

  .overview {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-areas:
          ". problem-title  ."
          ". problem ."
          ". solution-title       ."
          ". solution .";
      padding: 5rem 0 2rem 0;
      text-align: center;
    }

    .wireframes a {
      margin-bottom: 5rem;
    }

}


/* ----------- (TABLET - LARGE) responsive ----------- */

@media screen and (min-width: 900px) and (max-width: 1198px) {

  .moodboard {
    /* padding: 0 20% 5rem 20%; */
    max-height: 90vh;
    overflow: hidden;
  }

  .colors {
    padding: 0 20%;
    margin: 0 auto;
  }

  .color-1,
  .color-2,
  .color-3,
  .color-4,
  .color-5 {
    border-radius: 0;
    height: 10rem;
  }

  .typography {
    width: 60%;
  }

}


@media screen and (min-width: 900px) {


  /*--- home ---*/

  .decorative-line-top,
  .decorative-line-bottom {
    display: none;
  }

  .about {
    display: flex;
    padding-bottom: 0;
  }

  .about-col-1 {
    margin-right: 2rem;
  }

  .about-col-2 {
    margin-left:2rem;
  }

  .about-col-1,
  .about-col-2 {
    width: 100%;
  }

  .photo {
    margin-bottom: -10rem;
  }

  .footer-home {
    padding-top: 15rem;
  }

  .social-links {
    margin: 0 auto;
    width: 50%;
  }

  /*--- project ---*/

  section.portfolio {
    padding: 5rem 20%;
  }

  .overview {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas:
          ". problem-title  ."
          ". problem ."
          ". solution-title       ."
          ". solution .";
      padding: 5rem 0 2rem 0;
      text-align: center;
    }

    .user-research {
      margin: 0 auto;
    }

    .user-research-content {
      display: flex;
      width: 100%;
    }

    .stat-div {
      padding-right: 2rem;
    }

    .stat-desc {
      padding-top: 2.5rem;
      padding-bottom: 0;
      max-width: 60rem;
    }

    .stat-1 {
      padding-top: 2rem;
    }

    .stat-2 {
      padding-top: 2.5rem;
    }

    .stat-3 {
      padding-top: 3rem;
    }

  .personas {
    background-image: url(/images/gather/personas.jpg);
    background-size: cover;
    height: 90vh;
  }

  .personas-image {
    display: none;
  }

  .personas-text {
    display: flex;
  }

  .persona-1 {
    width: 50%;
    padding-right: 2rem;
  }

  .persona-2 {
    width: 50%;
    padding-left: 2rem;
  }

  .user-flows {
    /* display: none; */
    max-height: 80vh;
    overflow: hidden;
  }

}


/* ----------- (DESKTOP) responsive - HOMEPAGE ----------- */

@media screen and (min-width: 1199px) {


  .container-home {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-areas:
    "nav                    nav                    nav                    nav"
    ".                      hero                   hero                   ."
    ".                      scroll-down-line       scroll-down-line       ."
    "projects               projects               projects               projects"
    ".                      about                  about                  ."
    ".                      photo                  photo                  ."
    "footer                 footer                 footer                 footer";
  }

/* ----------- (DESKTOP) responsive - HOMEPAGE - PROJECTS ----------- */

  .projects {
    display: block;
  }

  .case-outer {
    height: 45vh;
    min-height: 30rem;
    width: 67%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .case-outer:hover .case-img {
    opacity: 0.1;
    transition: 0.5s ease;
  }

  .case-outer:hover .case-inner {
    opacity: 1;
  }

  .case-img {
    display: block;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 120%;
    transform: translate(-55%,-50%);
  }

  .case-outer .proj-hero-logo {
    display: block;
    margin: 0 auto;
    max-width: 15rem;
    opacity: 1;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 45%;

  }

  .case-outer:hover .proj-hero-logo {
    opacity: 0;
  }

  .case-inner {
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: .5s ease;
    left: 0;
    right: 0;
    top: 0;
  }

  .case-title {
    position: absolute;
    visibility: hidden;
  }

  .case-study {
    height: 45vh;
    min-height: 30rem;
    width: 100%;
  }

  .case-title-hover {
    background-color: transparent;
    display: block;
    margin: 1rem;
    visibility: hidden;
  }

  .case-desc {
    margin: 0 auto;
    width: 50%;
  }

/* ----------- (DESKTOP) responsive - PROJECT ----------- */

  section.portfolio {
    padding: 5rem 17%;
  }

  section.rm-portfolio {
    padding: 0;
  }

  .left-content {
    padding-right: 3rem;
    width: 50%;
  }

  a.btn {
    width: 100%;
  }


/* ----------- (DESKTOP) responsive - PROJECT - HERO ----------- */

  .product-summary {
    max-width: 70rem;
  }

/* ----------- (DESKTOP) responsive - PROJECT - ROLE ----------- */

  .role-section {
    display: flex;
  }

  .role,
  .deliverables,
  .tools,
  .duration {
    width: 22%;
    margin: 0 auto;
  }

  .role-text h2 {
    padding-bottom: 1rem;
  }

/* ----------- (DESKTOP) responsive - PROJECT - OVERVIEW ----------- */

  .overview {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
      ". problem-title solution-title ."
      ". problem       solution       .";
    padding: 5rem 0 2rem 0;
    text-align: center;
  }

  .problem,
  .solution {
    width: 95%;
  }

  .overview-text {
    width: 80%;
    margin: 0 auto 2rem auto;
  }

/* ----------- (DESKTOP) responsive - PROJECT - COMP ANALYSIS ----------- */

  .brand-comparison {
    display: flex;
  }

  .brand-desc {
  padding: 2rem 0;
  }

  .brand {
  width: 33%;
  }

  .brand-1,
  .brand-2 {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }

  .brand-2,
  .brand-3 {
    margin-left: 0.5em;
  }

/* ----------- (DESKTOP) responsive - PROJECT - USER STORIES ----------- */

  .user-stories {
    background-image: url(/images/gather/user-flows-2.jpg);
    background-size: cover;
  }

  .user-stories .lower {
    margin-bottom: 5rem;
  }

  .lower {
    margin-top: 7rem;
  }

  .user-flows {
    display: none;
  }

/* ----------- (DESKTOP) responsive - PROJECT - WIREFRAMES ----------- */

  .container-wireframes {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-areas:
    ". wireframes-img wireframes   ."
    ". wireframes-img user-testing ."
    ". wireframes-img .            .";
    padding: 5rem 0;
  }

  .wireframes {
    grid-area: wireframes;
    margin-left: 3rem;
  }

  .wireframes img {
    display: none;
  }

  .wireframes-img {
    display: inline;
    grid-area: wireframes-img;
    width: 100%;
  }

/* ----------- (DESKTOP) responsive - PROJECT - USER TESTING ----------- */

  .user-testing {
    background-color: rgba(241, 236, 234, 1);
    grid-area: user-testing;
    margin: 5rem 0 0 3rem;
  }


/* ----------- (DESKTOP) responsive - PROJECT - BRANDING ----------- */

  .container-branding {
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-areas:
    ". branding        branding      ."
    ". logo-brainstorm logo-brainstorm ."
    ". moodboard moodboard ."
    ". color-text      colors      ."
    ". type-text type .";
    padding: 5rem 0;
  }

  .color-text {
    background-color: #fff;
    grid-area: color-text;
  }

  .type-text {
    background-color: #fff;
    grid-area: type-text;
  }

  .logo-brainstorm {
    background-color: #fff;
    grid-area: logo-brainstorm;
  }

  .branding {
    background-color: #fff;
    grid-area: branding;
    padding-right: 2rem;
  }

  .colors {
    background-color: #fff;
    grid-area: colors;
    padding-left: 3.5rem;
  }

  .type {
    background-color: #fff;
    grid-area: type;
    margin-top: 5rem;
  }

  .typography {
    width: 100%;
    border: none;
    padding: 0%;
    margin: 0%;
  }

  .moodboard {
    background-color: #fff;
    grid-area: moodboard;
  }

  .color-palette {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
  }

  .color-1,
  .color-2,
  .color-3,
  .color-4,
  .color-5
   {
    border-radius: 0%;
    height: 5rem;
    width: 100%;
    margin: 0;
  }

  .color-3 {
    border: 0.1rem solid #E9E7E6;
  }

  .type-1 {
    font-size: 2.4rem;
  }

  .type-3,
  .type-4 {
    font-size: 1.4rem;
  }

  .type-2 {
    font-size: 1.8rem;

  }

  .type-description {
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }

/* ----------- (DESKTOP) responsive - PROJECT - MOCKUPS ----------- */

  .mockups {
    background-color: rgba(241, 236, 234, 1);
  }

  .side-by-side {
    display: flex;
  }

  .side {
    width: 50%;
  }

  .img-1,
  .img-2 {
    width: 100%;
  }
  .img-1 {
    padding-right: 2rem;
  }

  .img-2 {
    padding-left: 2rem;
  }

  .preference-test {
    background-color: #fff;
  }

/* ----------- (DESKTOP) responsive - PROJECT - PROTOTYPE ----------- */

  .prototype {
    background-color: rgba(241, 236, 234, 1);
    display: flex;
    flex-direction: row-reverse;
  }

  .prototype-summary {
    margin: 0 auto;
    padding-left: 3rem;
    width: 50%;
  }

  .prototype-img {
    height: 100%;
    width: 50%;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }


/* ----------- (DESKTOP) responsive - PROJECT - CLOSING THOUGHTS ----------- */

  .closing-thoughts {
    background-color: #fff;
  }

}
